<!DOCTYPE html>
<html>

<head>
    <title>Registeration</title>
</head>

<body>
    <h1>Hello There!</h1>
</body>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
    <li><a href="/login">Login?</a></li>
    <li><a href="/logout">Logout?</a></li>
</form>

</html>